/* ===========================
   RESPONSIVE
=========================== */
@media (max-width: 768px) {
  .nav, .btn { display: none; }
  .menu-toggle { display: block; }

  .hero h1 { font-size: 34px; }
  .hero p { font-size: 16px; }

  .feature-content {justify-content: center; text-align: center; }

  .location h2 { font-size: 34px; }
  .location p { font-size: 16px; }
  
  .footer-content {
    justify-content: center;
    text-align: center;
  }
  .rooms {
    padding: 60px 0;
  }

  .room-info h3 {
    font-size: 1.3rem;
  }

  .room-info p {
    font-size: 0.95rem;
  }

}
